@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #0f044e, #085078, #4ca59b, #1fa194);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: bgTransition 8s ease-in-out infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #fff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #085078;
    background-color: #fff;
}

@keyframes bgTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0 90%;
    }
}